<h1>Our restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %> | <%= restaurant.stars %>
    |<%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
  </li>
  <% end %>
</ul>
